

<app-header></app-header>


<main class="main">
  <app-users [users]="users" (selectedId)="onSelectUser($event)"></app-users>

   @if (selectedUser){

     <!--property binding-->
     <app-task [name]="selectedUser.name" [id]="selectedUser.id"/>
   }
   @else {
    <p id="fallback">Select a user to see their tasks</p>
   }


</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
